* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
 
body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: unset;
  display: flex;
  flex-direction: column;
}

html, body, main {
  height: 100%;
  width: 100%;
}

img {
  display: block;
}

button {
  min-width: 44px;
  min-height: 44px;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  padding: 8px;
  background-color: #EA6D27;
  color: white;
  z-index: 100;
  padding: 15px;
  border: 1px solid black;
}

.skip-link:focus {
  top: 0;
  outline: 3px solid yellow;
}

.primary-color-button{
  background-color: #EA6D27 !important;
  border: unset;
  color: white;
}

button:hover{
  transform: scale(1.1);
}

button:active{
  transform: scale(0.9);
}

.box-leaf{
  border-radius: 10px 5px 10px 5px;
}

.box-leaf-two{
  border-radius: 20px 5px 20px 5px;
}

.shadow-box{
  border: 0px solid #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.mobile-header-section{
  display: flex;
  align-items:  center;
  padding: 0px 20px;
  gap: 10px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
}

.mobile-header-section > img {
  height: 50px;
}

#hamburger {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.recommended-section{
  display: block;
  align-items: center;
  background-color: #F2F2F2;
  padding: 24px 20px;
}

.recommended-section > h1{
  text-align: center;
}

.testimonial-section{
  padding: 24px 20px;
  text-align: center;
  background-image: url(../public/images/background-testimonial.png);
  background-size: cover;
}

.contact-section{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 150px;
  padding: 150px 20px 50px 20px;
}

.contact-section > h2{
  padding-top: 10px;
}

.email-box{
  background-image: url(../public/images/background-email-box.png);
  background-size: cover;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px 5px 20px 5px;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* offsite position */
  position: absolute;
  top: -20%;
  z-index: 0;
}

.email-box > h2 {
  color: white;
}

.email-box > form{
  margin-bottom: 20px;
}

form > .email-input-container{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
  border-radius: 20px 5px 20px 5px;
  border: 0px;
}

form > .email-input-container > input{
  /* min-width: 250px; */
  height: 44px;
  border: 0px;
  width: 80%;
}

form > .email-input-container > button{
  border: 0px solid;
  padding: 0px 20px;
  margin-left: 10px;
}

.social-media-list{
  display: flex;
  flex-direction: row;
}

.social-media-list > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  background-color: black;
  color: white;
  border: unset;
  border-radius: 20px 5px 20px 5px;
  width: 50px;
  padding: 7px 5px;
  cursor: pointer;
}

.social-media-list > a:hover{
  position: relative;
  bottom: -2px;
  right: -2px;
}

recommended-list
{
  display: flex;
  flex-direction: row;
  padding: 80px 20px 40px 20px;
  gap: 40px;
  justify-content: start;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* restaurant detail styling page */
.restaurant-detail-header{
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto; 
  background: 
    linear-gradient(to top, rgba(234, 109, 39, 0.8), rgba(255, 126, 95, 0.1)),
    url('../public/images/heros/hero-image_2.jpg');
  background-size: cover;
  height: 300px;
}

.restaurant-detail-content{
  display: flex;
  justify-content: center;
  padding: 0px 60px;
}

.detail-content-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1400px;

  position: relative;
  top: -190px;
}

.detail-content-left{
  order: 2;
  width: 100%;
}

.content-left-container{
  padding-right: unset;
}

.content-left-container > .detail-restaurant-name{
  font-size: 36px;
  margin-bottom: 5px;
}

.content-left-container > .detail-restaurant-address{
  font-size: 20px;
  margin-top: unset;
}

.content-left-container > .detail-restaurant-desc{
  font-size: 18px;
}

.content-left-container > button{
  padding: 5px 20px !important;
}

.detail-content-right{
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-content-right > img {
  min-height: 200px; 
  max-width: 90%;
  border-radius: 10px;
  border: 2px solid;
}

.detail-content-right > .detail-restaurant-city{
  position: relative;
  text-align: start;
  top: -80px;
  /* background-color: black; */
  color: #ffffff;
  padding: 0px 30px;
  border-radius: 0 5px 15px 0px;
}

.restaurant-detail-food{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../public/images/background-testimonial.png);
  background-size: cover;
}


.food-container, .drinks-container, .reviews-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
  width: 80% !important;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 70px 20px 20px 20px;
}


.restaurant-detail-drinks{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
}

.restaurant-detail-drinks > h1,
.restaurant-detail-review > h1 {
  margin: 100px 0 30px 0;
}

.restaurant-detail-review{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews-container {
  width: 100%;
  justify-content: start;
}

/* end of detail styling page */

/* restaurant favorites styling page  */
.restaurant-favorites-header{
  margin-top: 80px;
  background: 
    linear-gradient(to top, rgba(234, 109, 39, 0.8), rgba(255, 126, 95, 0.1)),
    url('../public/images/heros/hero-image_2.jpg');
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-favorites-header > h1 {
  font-size: 50px;
  color: #ffffff;
}

.favorites-container {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 100px; /* Adds vertical spacing */
  column-gap: 20px; 
  margin: 0 auto;
}
/* end of favorites styling page */

@media screen and (min-width: 720px) {
  .mobile-header-section {
    display: none;
  }

  .email-box{
    width: 50%;
  }

  recommended-list
  {
    justify-content: start;
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  main-section{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .main-text-box > .main-button-group{
    padding: 24px 0px;
    justify-content: start;
  }

  .detail-content-container{
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .detail-content-left{
    order: 1;
  }

  .content-left-container{
    padding-right: 200px;
  }

  .detail-content-right{
    order: 2;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .detail-content-right > img {
    max-width: 500px;
  }
  
}
